@import "tailwindcss";

@utility text-preset-1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}

@utility text-preset-2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
}

@utility text-preset-3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
}

@utility text-preset-4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.4;
}
